* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.3rem;
  background-color: #33383e;
  color: #eeeeee;
}

.navigation {
  position: absolute;
  right: 4rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  z-index: 50;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: #eeeeee;
  text-decoration: none;
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  z-index: 100;
}

.mobile-nav-items {
  display: none;
}

.header {
  clear: both;
  display: flex;
  justify-content: space-between;
  height: 95vh;
  z-index: 1;
}

.my-pic {
  max-width: 700px;
  border-radius: 30% 70% 70% 30%/ 60% 40% 60% 40%;
  position: relative;
  top: 50px;
  left: 20px;
}

.gradient-box-1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 115, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 550px;
  height: 500px;
  border-radius: 30% 70% 70% 30%/ 60% 40% 60% 40%;
  position: absolute;
}

.gradient-box-2 {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 0.5) 0%,
    rgba(252, 70, 107, 0.5) 100%
  );
  /* background: rgb(52, 115, 110);
    background: linear-gradient(
      90deg,
      rgba(52, 115, 110, 0.4) 0%,
      rgba(105, 250, 209, 0.4) 35%,
      rgba(0, 255, 166, 0.4) 100%
    ); */
  width: 550px;
  height: 500px;
  border-radius: 30% 70% 70% 30%/ 60% 40% 60% 40%;
  position: absolute;
  top: 50px;
  left: 50px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.header-main {
  width: 45rem;
  margin: 0 auto;
}

.social-media {
  align-self: flex-start;
}

.social-media-item {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #7a7c7c;
  height: 4rem;
  width: 4rem;
  margin: 3rem 1rem 0 0;
  transition: 0.3s;
  position: relative;
  color: #7a7c7c;
}

.social-media-item i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
}

.social-media-item:hover {
  border: 1px solid transparent;
  background-color: #02c1b1;
  color: #eeeeee;
  cursor: pointer;
  transition: 0.3s;
}

.water-effect {
  position: relative;
  font-size: 6rem;
}

h1 span {
  position: absolute;
}

.h1-transparent {
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #33383e;
}

.h1-water {
  color: #02c1b1;
  animation: water 3.5s ease-in-out infinite;
}

h1 {
  position: absolute;
  top: 18%;
  left: 52%;
  font-size: 3rem;
}

.header-main {
  margin-top: 15rem;
}

.header-main h2,
.header-main p,
.header-main a {
  margin-bottom: 2rem;
}

.header-main p {
  line-height: 1.7rem;
}

.header-main h2 {
  color: #00e1cf;
}

.btn {
  border: 1px solid #02c1b1;
  background-color: transparent;
  color: #eeeeee;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.btn:hover {
  background-color: #02c1b1;
  cursor: pointer;
  transition: 0.3s;
}

.btn:focus {
  outline: none;
}

.btn span {
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}

.container {
  max-width: 1000px;
  margin: auto;
}

section {
  padding: 7rem 0;
  text-align: center;
}

.section-title {
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.section-title * {
  margin-bottom: 1rem;
}

.portfolio-items {
  position: relative;
}

[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime="left"] {
  margin-left: -80px;
  transform: translateX(-50px);
}

[data-anime="right"] {
  margin-left: 80px;
  transform: translateX(50px);
}

[data-anime].animate1 {
  opacity: 1;
  transform: translateX(0);
}

.lines {
  position: absolute;
  top: 32rem;
  left: 50%;
  z-index: -0;
}

.lines-rotated {
  transform: rotateX(180deg);
}

.lines-2 {
  top: 67rem;
}

.lines-3 {
  top: 102rem;
}
.lines-4 {
  top: 138rem;
}

.horizontal-line {
  border-bottom: 2px solid #02c1b1;
  width: 5rem;
}

.vertical-line {
  border-left: 2px solid #02c1b1;
  height: 3rem;
}

.circle {
  border: 2px solid #02c1b1;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  background-color: #33383e;
  z-index: 100;
}

.horizontal-1,
.vertical-1,
.vertical-2,
.circle-1,
.circle-2 {
  position: absolute;
  left: 50%;
}

.vertical-1 {
  top: -3rem;
}

.vertical-2 {
  left: calc(50% + 5rem);
  top: 0rem;
}

.circle-1,
.circle-2 {
  transform: translate(-50%, -50%);
}

.circle-2 {
  left: calc(50% + 5rem);
}

.portfolio-item {
  margin-bottom: 5rem;
  position: relative;
  z-index: 100;
}

.portfolio-item-content-img img {
  max-width: 33rem;
  height: 30rem;
}
.portfolio-item-content-img {
  position: relative;
}

.portfolio-item-content {
  display: flex;
  width: 635px;
  height: 300px;
  margin: auto;
  justify-content: space-around;
  background-color: #3c4249;
  box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.9);
  text-align: left;
}

.portfolio-item-content-info.first {
  padding: 1rem 2.5rem;
}

.portfolio-item-content-info {
  padding: 2rem 3rem;
  min-width: 305px;
}

.portfolio-item-content-info * {
  margin-top: 1rem;
}
.portfolio-item-content-info p {
  line-height: 1.8rem;
}

.btn-github i {
  margin: 0 0.5rem 0 0;
}

.btn-github {
  margin-top: 2.5rem;
  line-height: 1rem;
}

.dark-cover {
  position: absolute;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c4249d8;
  color: #eeeeee;
  font-size: 3rem;
  opacity: 0;
  transition: 0.5s;
}

.dark-cover:hover {
  opacity: 1;
  transition: 0.5s;
}

.about {
  background-color: #02c1b1;
}

.flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about h2 {
  text-align: right;
  font-size: 10rem;
}

.about h2 span {
  display: inline-block;
  position: relative;
  transform-origin: right;
  transition: 0.5s;
  transform: scaleX(0);
}

.span1 {
  display: block;
}

.about h2 span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  transform-origin: left;
  transition: 0.5s;
}

[data-anime-cover].animate2 {
  transform: ScaleX(1);
}

[data-anime-cover].animate2:before {
  transform: ScaleX(0);
  transition-delay: 0.5s;
}

.about-content {
  padding: 7rem 0 7rem 4rem;
  font-size: 1.7rem;
  transition: 1s;
}

.about-content * {
  margin-bottom: 2rem;
}

.skills-list {
  width: 25rem;
  font-size: 1.5rem;
}

.skills-list li {
  padding: 0.6rem 0;
}

.skills-content {
  justify-content: center;
}

.bootstrap-icon {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.bootstrap-icon img {
  z-index: 100;
}

.bootstrap-icon:before {
  content: "";
  height: 38px;
  width: 38px;
  background-color: #eeeeee;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;
}

.contact {
  background-image: url(../img/bg-space.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contact-info * {
  padding-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 2rem;
  color: #7a7c7c;
}

@keyframes water {
  0%,
  100% {
    clip-path: polygon(
      0% 35%,
      7% 43%,
      12% 52%,
      16% 58%,
      23% 59%,
      28% 55%,
      29% 48%,
      34% 41%,
      40% 34%,
      46% 29%,
      54% 27%,
      63% 28%,
      68% 36%,
      74% 43%,
      76% 49%,
      83% 47%,
      89% 42%,
      95% 44%,
      100% 51%,
      100% 100%,
      1% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 61%,
      4% 53%,
      9% 42%,
      14% 34%,
      23% 27%,
      26% 25%,
      34% 28%,
      38% 34%,
      41% 41%,
      48% 45%,
      55% 48%,
      63% 54%,
      70% 53%,
      76% 44%,
      79% 39%,
      83% 36%,
      88% 32%,
      98% 31%,
      100% 37%,
      100% 100%,
      1% 100%
    );
  }
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@media (max-width: 1250px) {
  .my-pic img {
    width: 600px;
  }
  h1 {
    left: 53%;
  }
}

@media (max-width: 1150px) {
  h1 {
    left: 60%;
  }
  .gradient-box-1,
  .gradient-box-2 {
    width: 490px;
    height: 470px;
  }
  .header-main {
    max-width: 40rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1050px) {
  .container {
    padding: 0 4rem;
  }
}

@media (max-width: 1000px) {
  .my-pic {
    display: none;
  }
  h1 {
    left: 40%;
    transform: translateX(-50%);
  }
  .header-main {
    max-width: 45rem;
    margin: 20rem auto 0 auto;
  }
  .header-content {
    margin: auto;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 2rem;
  }

  .about-content {
    padding: 7rem 2rem;
  }
  .portfolio-item-content {
    flex-direction: column;
    width: 380px;
    min-height: 590px;
  }
  [data-anime="left"] {
    margin-left: 0;
  }
  [data-anime="right"] {
    margin-left: 0;
  }
  .portfolio-item-content-img img {
    max-width: 380px;
    height: 31rem;
  }
  .lines {
    display: none;
  }
  .portfolio-item-content-info {
    padding: 3rem 4rem 4rem 4rem;
  }
  .dark-cover {
    height: 310px;
  }
}

@media (max-width: 700px) {
  h1 {
    left: 30%;
    transform: translateX(-50%);
  }
  .header-content {
    padding: 0 2rem;
    width: 100%;
  }
  .flex-about {
    flex-direction: column;
  }
  .flex-about h2 {
    text-align: left;
  }
  .about-content {
    padding: 7rem 0;
  }
  .about h2 {
    /* width: 20rem;
      text-align: center; */
    font-size: 5rem;
  }
  .about h2 .span1 {
    margin-right: 1rem;
  }
  .about-content {
    padding: 3rem 2rem;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 0.5rem;
  }
  .portfolio-item-content,
  .portfolio-item-content-img img {
    width: 310px;
  }
  .header-main {
    max-width: 30rem;
  }
  .navigation-wide {
    display: none;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .mobile-menu-box {
    position: relative;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 1rem;
    top: 2rem;
    z-index: 200;
  }
  .mobile-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 150;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 100vw;
    background-color: #00b1a2;
    margin: 0;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    visibility: hidden;
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .mobile-nav-items li {
    font-size: 2.5rem;
    padding: 2.5rem;
  }
  .mobile-nav-items a {
    color: #eeeeee;
  }
  .mobile-nav-items.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    visibility: visible;
    pointer-events: all;
  }
  html {
    scroll-behavior: auto;
    width: 100vw;
  }

  [data-anime="left"] {
    margin-left: 0;
    transform: translateX(0);
  }

  [data-anime="right"] {
    margin-left: 0;
    transform: translateX(0);
  }
}
